---
import Layout from "@/layouts/default.astro";
import { Fuga } from "./fuga";
---

<Layout>
  <main class="p-6 bg-pink">
    <section id="about" class="grid gap-8 mt-4 md:grid-cols-8">
      <h2 class="hidden">About Brutal</h2>
      <div class="col-span-4">
        <div class="col-span-2">
          <h2 class="mb-4 text-2xl md:text-4xl lg:text-6xl dm-serif">What is Brutal?</h2>
          <p class="text-green-500 poppins">
            Brutal is a theme built with Astro, UnoCSS by <a href="https://www.elian.codes/">Elian</a>. It's a simple,
            fast, and modern theme that is easy to use and customize. Mainly meant to power blogs and personal websites.
            <br />
            <a href="/hoge" class="font-bold underline">hoge</a>
          </p>
        </div>
      </div>
    </section>
    <Fuga client:load transition:name="fuga" transition:persist />
  </main>
</Layout>
